.loader-holder{
    position: absolute;
    left: 50%;
    top: 50%;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 5px solid;
  border-color: #212144 #212144 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader2 {
    box-sizing: border-box;
    border: 5px solid #ffce09;
    border-color: #ffce09 #ffce09 #0000 #0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: 1s linear infinite rotation;
    display: inline-block;
    position: relative;
    top: -14px;
    left: -34px;
}
.loader2::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid;
  border-color: transparent transparent white white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #3f68b1 #3f68b1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #f04c44 #f04c44 transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 